.car {

    float:left;
    padding: 20px;  
      
    color: white;
    font-size: 10px;   
    width:20%;   
    display: flex;     
    
      
  
}

.cars {

    float:left;
    padding: 10px;
   
    color: white;
}   


.main-container {
    background-color:black; 
    height:100%;
    width:100%;  
  
   

}

.header {
   
   
    color:white;
    font-size:60px;
    
     display:flex;
     left:40px;
}

.header ul{
    list-style-type: none;
}

   
.headersection ul{
    list-style-type: none;
    display: flex;
    margin:10;
    padding:20;
    margin-left: 20px;
    
}


.headersection ul li a{
    text-align: center;
    padding:14px 16px;
    display: block;
    margin-left: 50px;
    
}













.body-container {
    background-color: white;
    width:100%;
    height:100%;


}

h1,h2{
    text-align: center;
    font-size: 40px;
  
}

h3,h4{
    text-align:center;
 
}
h6{
    font-size:40px;
    line-height:44px;
}

img {
    width: 30%;
    float:right;
    position:relative;
    align-items: center;
}

.forms{
      text-align: center;  
}


.container{
   display:flex;
}

.container div {
    margin:0px;
    padding: 50px;
    font-size: 24px;
   
}

.images{
    width:100%;;
    height:200%;
    left: 40%;
}

.images1{
    width:70%;
    height:30%;
   
}

.travelimage{
    width: 100%;

}

.container1{
    display:flex;
}

.container1 div{
    margin-right:10px;
    padding:5px;
    font-size:24px;
}





.footer-container {
    background-color: black;
    width:100%;
    height:400px;
    display: flex;
    list-style-type: none;
    left: 40%;
    color: white;
}

.companysection{
   

}